---
- hosts: localhost
  gather_facts: no
  become: true
  tasks:

  #parar aengine e arelay
    - name: parar aengine 
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./aengine -stop
    
    - name: parar arelay 
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./arelay -stop

  #Aguardar 5 segundos
    - name: Aguardar 5 segundos
      wait_for:
        timeout: 5

  #iniciar aengine e arelay
    - name: iniciar aengine
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./aengine -start
    
    - name: iniciar arelay 
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./arelay -start

    #Reiniciar ISLAlwaysON
    - name: reiniciar IsLAlwaysON
      become: yes
      become_method: sudo
      shell: |
        sudo systemctl restart isl_always_on.service
        
    #Aguardar 60 segundos
    - name: Aguardar 60 segundos
      wait_for:
        timeout: 60

    #Mostrar aengine Status
    - name: Mostrar aengine status
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./aengine -status | grep -E  "AgentPID|AgentVer|Started|TmpPath|User ID|UIDdigest|MachineID|Relay" | tr ',' '\n'
      register: aengine_status

    - name: aengine status
      debug:
        msg: "{{ aengine_status.stdout_lines }}"
      #when: ada_result.stat.exists 

    #Aguardar 5 segundos
    - name: Aguardar 5 segundos
      wait_for:
        timeout: 5

    #Mostrar arelay Status
    - name: Mostrar arelay status
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./arelay -status | grep -E "TX"
      register: arelay_status

    - name: arelay status
      debug:
        msg: "{{ arelay_status.stdout_lines }}"
      #when: ada_result.stat.exists 

  #Aguardar 5 segundos
    - name: Aguardar 5 segundos
      wait_for:
        timeout: 5

  
  #Mostrar ISLAlwaysOn Status
    - name: Mostrar ISLAlwaysOn status
      become: yes
      become_method: sudo
      shell: |
        sudo systemctl status isl_always_on.service | grep Active
      register: isl_always_on_status

    - name: ISLAlwaysOn status
      debug:
        msg: "{{ isl_always_on_status.stdout_lines }}"
      