- name: Verificar existência do caminho e status do serviço
  hosts: localhost
  become: yes
  tasks:

    - name: Verificar se o diretório existe
      stat:
        path: /usr/local/manageengine/uems_agent/bin
      register: dir_stats

    - name: Definir o nome do serviço (ajuste conforme necessário)
      set_fact:
        dcservice: dcservice  # Substitua por o nome correto do serviço

    - name: Verificar se o serviço está ativo
      shell: systemctl is-active {{ dcservice }}
      register: service_status
      ignore_errors: yes  # Para não falhar caso o serviço não exista

    - name: Iniciar o serviço caso esteja inativo
      systemd:
        name: "{{ dcservice }}"
        state: started
      when: service_status.stdout.strip() == "failed"

    - name: Aguardar 5 segundos para garantir que o serviço foi iniciado
      wait_for:
        timeout: 5
        state: started
      when: service_status.stdout.strip() == "failed"  # Apenas aguarda se o serviço estiver 'failed'
    
    - name: Verificar se o serviço está ativo novamente
      shell: systemctl is-active {{ dcservice }}
      register: service_status
      ignore_errors: yes  # Para não falhar caso o serviço não exista

    - name: Imprimir resultado da verificação do diretório
      debug:
        msg: "O diretório {{ dir_stats.stat.exists | ternary('existe', 'não existe') }}."

    - name: Imprimir o status do serviço
      debug:
        msg: "O serviço {{ dcservice }} está {{ service_status.stdout.strip() | default('inexistente ou com erro') }}"
