.mini-card {
    width: 80px; /* Largura fixa */
    height: 100px; /* Altura fixa */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0; /* Removido o espaçamento entre cartas, pois o layout será controlado pela grid */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #333333; /* Cor de fundo cinza escuro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para efeito de carta */
}

.mini-card.selected {
    background-color: #d1e7dd; /* Cor de fundo para seleção */
}

.card-name {
    color: lightblue; /* Azul claro para o nome da carta */
    font-weight: bold; /* Deixar o texto em negrito, se desejado */
    font-size: 14px; /* Ajuste o tamanho da fonte, se necessário */
    display: none; /* Oculta o nome da carta por padrão */
}

.mini-card:hover .card-name {
    display: block; /* Mostra o nome da carta ao passar o mouse */
    position: absolute; /* Coloca o nome em cima do emoji */
    bottom: 10px; /* Distância do fundo da carta */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a centralização */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
    color: white; /* Cor do texto */
    padding: 2px 5px; /* Espaçamento interno */
    border-radius: 3px; /* Bordas arredondadas */
}

.mini-cards-container {
    display: grid; /* Usando grid para layout */
    grid-template-columns: repeat(9, 1fr); /* 6 colunas */
    gap: 5px; /* Reduzir espaçamento entre cartas */
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    padding: 10px;
}

.card-emoji {
    font-size: 48px; /* Ajuste o tamanho do emoji conforme necessário */
}
