#editar os caminhos "src" caso mude o server Ansible
---
- name: Script Deploy
  hosts: all
  gather_facts: no
  become: true
  vars:
    apt_file: /etc/apt/sources.list.d/google-chrome.list
  tasks:

#Copiar AVGFL para destino
    - name: Copiar arquivo AVGFL para o Hostname
      copy:
        src: /home/mlwkt500/producao/arquivos/AVGFL.sh
        dest: /tmp/AVGFL.sh

#Permitir AVGFL 
    - name: Permitir AVGFL
      become: yes
      become_method: sudo
      command: sudo chmod +x /tmp/AVGFL.sh 

#Validar arquivo DSAAGENT no destino
    - name: DSAGENT resposta
      stat:
        path: /opt/ds_agent/ds_agent
      register: dsagent_result
    - name: DSAGENT existe?
      debug:
        msg: "O arquivo existe!"
      when: dsagent_result.stat.exists  # Mostra caso exista
    - name: DSAGENT existe?
      debug:
        msg: "O arquivo não existe"
      when: not dsagent_result.stat.exists  # Mostrar caso não exista      

#Instalar AVGFL  
    - name: Instalar AVGFL
      become: yes
      become_method: sudo
      command: /tmp/AVGFL.sh
      when: not dsagent_result.stat.exists

#Validar arquivo ISAlwaysOn no destino
    - name: ISAlwaysON resposta
      stat:
        path: /opt/ISLOnline/ISLAlwaysOn/ISLAlwaysOn
      register: file_result
    - name: ISAlwaysON existe?
      debug:
        msg: "O arquivo existe!"
      when: file_result.stat.exists  # Mostra caso exista
    - name: ISAlwaysON existe?
      debug:
        msg: "O arquivo não existe"
      when: not file_result.stat.exists  # Mostrar caso não exista

#Validar arquivo ADA no destino
    - name: Verificar se o arquivo ADA existe
      stat:
        path: /opt/automatos/ada/bin
      register: resultado_stat

#Instalar lib 
    - name: Instalar lib
      become: yes
      become_method: sudo
      shell: 
        sudo apt-get install libxcb-xinerama0

#Instalar lib
    - name: Instalar lib
      become: yes
      become_method: sudo
      shell: 
        sudo apt-get -y install libc6-i386

#Copiar e executar SRA no destino
    - name: Copiar arquivo SRA para o Hostname
      copy:
        src: /home/mlwkt500/producao/arquivos/SRAAUTOMATOS.46
        dest: /tmp/SRAAUTOMATOS.46
        mode: 0755
    - name: Execute o script
      become: yes
      become_method: sudo
      command: /tmp/SRAAUTOMATOS.46

#Copiar ADA para destino
    - name: Copiar arquivo ADA para o Hostname
      copy:
        src: /home/mlwkt500/producao/arquivos/ada-1.7.18-en.i386.lin.deb
        dest: /tmp/ada-1.7.18-en.i386.lin.deb

#Permitir ADA 
    - name: Permitir ADA
      become: yes
      become_method: sudo
      command: sudo chmod +x /tmp/ada-1.7.18-en.i386.lin.deb    

#Instalar ADA
    - name: Instalar ADA
      become: yes
      become_method: sudo
      command: dpkg -i /tmp/ada-1.7.18-en.i386.lin.deb

#Configurar ADA
    - name: Configurando ADA Agent após a instalação
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./asetup -s -a -s -ialmaden@gflogistica.com.br -bLINUX -ca127.0.0.1:1999 -crhttp:http.vip.automatos.com:80

#Mostrar Versao ADA
    - name: Mostrar Versao ADA
#      become: yes
#      become_method: sudo
#      shell: "cd /opt/automatos/ada/bin && dpkg -l | grep ada | awk '/^ii/{print $2, $3}' | head -n 1"
      shell: |
        cd /opt/automatos/ada/bin
        
      when: resultado_stat.stat.exists

      register: ada_version

    - name: ADA Version
      debug:
        msg: "OK: {{ ada_version.stdout }}" 
      when: resultado_stat.stat.exists

#Mostrar Status ADA
    - name: Mostrar Status ADA
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin 
        sudo ./aengine -status | grep "Relay connection is:"

      register: ada_status

    - name: ADA Status
      debug:
        msg: "OK: {{ ada_status.stdout }}"
      when: resultado_stat.stat.exists

#Instalar Google Chrome
    - name: Verificar se o arquivo apt do Google Chrome existe
      command: test -f {{ apt_file }}
      register: google_apt_exists
      ignore_errors: true

    - name: Adicionar chave do Google Chrome
      shell: wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
      when: google_apt_exists.rc == 1

    - name: Adicionar repositório do Google Chrome
      copy:
        content: "deb http://dl.google.com/linux/chrome/deb/ stable main"
        dest: "{{ apt_file }}"
        owner: root
        group: root
        mode: 0644
      when: google_apt_exists.rc == 1

    - name: Atualizar cache do apt
      apt:
        update_cache: yes
      when: google_apt_exists.rc == 1

    - name: Instalar o Google Chrome
      apt:
        pkg: google-chrome-stable
        state: present


