---
- hosts: all
  gather_facts: no
  become: true
  tasks:

    - name: Ping the machine
      ansible.builtin.ping:

    #1.5.1 Ensure address space layout randomization (ASLR) is enabled
    - name: Get ASLR status using sysctl
      shell: sysctl kernel.randomize_va_space
      register: aslr_status
    - name: Display ASLR status
      debug:
        msg: "ASLR is currently set to {{ aslr_status.stdout }}"
   
    #1.6.1.1 Ensure AppArmor is installed 
    - name: Ensure AppArmor is installed
      shell:  apparmor_status | grep 'module is loaded'
      register: apparmor_status
    - name: Display AppArmor Status
      debug:
        msg: "AppArmor is currently set to {{ apparmor_status.stdout }}"
    
    #1.6.1.3 Ensure all AppProfiles are in enforce or complain mode
    - name: Show AppArmor Profiles
      shell:  apparmor_status | grep 'profiles are loaded'
      register: apparmor_profiles
    - name: Display AppArmor Profiles
      debug:
        msg: "{{ apparmor_profiles.stdout }}"

    - name: Show AppArmor EnforceMode
      shell:  apparmor_status | grep 'profiles are in enforce mode'
      register: apparmor_enforcemode
    - name: Display AppArmor EnforceMode
      debug:
        msg: "{{ apparmor_enforcemode.stdout }}"

    - name: Show AppArmor ComplainMode
      shell:  apparmor_status | grep 'profiles are in complain mode'
      register: apparmor_complainmode
    - name: Display AppArmor ComplainMode
      debug:
        msg: "{{ apparmor_complainmode.stdout }}"

    #1.6.1.4 Ensure all AppArmor Profiles is enforcing
    #sudo apt install apparmor-utils
    - name: Enforcing Profiles
      shell:  aa-enforce /etc/apparmor.d/*
      register: enforcing_profiles
    - name: Enforcing Profiles
      debug:
        msg: "{{ enforcing_profiles.stdout }}"

    #1.8.3 Ensure GDM disable-user-list option is enabled
    - name: Read the value of the disable-user-list line
      shell: cat /etc/gdm3/greeter.dconf-defaults | grep disable-user-list
      register: greeter_config

    - name: Check if the line is set to true
      assert:
        that:
          - "'true' in greeter_config.stdout"
        fail_msg: "The disable-user-list line is not set to true."

    #1.8.4 Ensure GDM screen locks when the user is idle
    - name: Ensure GDM screen locks when user is idle
      ansible.builtin.dconf:
        key: '/org/gnome/desktop/screensaver/idle-activation-enabled'
        value: 'true'
        state: present
    

    



    
    
