---
- hosts: all
  become: true
  tasks:

    #Validar arquivo ADA no destino
    - name: Verificar se o arquivo ADA existe
      stat:
        path: /opt/automatos/ada/bin
      register: resultado_stat

    #Copiar novo arquivo ADA
    - name: Copiar arquivo ada.deb para o Hostname
      copy:
        src: ada-1.9.1-en.i386.lin.deb
        dest: /tmp/ada-1.9.1-en.i386.lin.deb

    #Instalar lib
    - name: Instalar lib
      become: yes
      become_method: sudo
      shell: 
        sudo apt-get -y install libc6-i386

    #Instalar Novo ADA
    - name: Instalar pacote ADA.deb
      become: yes
      become_method: sudo
      command: dpkg -i /tmp/ada-1.9.1-en.i386.lin.deb
    
    #Configurar novo servidor Almaden
    - name: Configurando Ada Agent após a instalação
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./asetup -s -a -s -ialmaden@gflogistica.com.br -bLINUX -ca127.0.0.1:1999 -crssl:lad1-receiver.almaden.app:443