- name: Verificar se o diretório existe
  stat:
    path: /usr/local/manageengine/uems_agent/bin
  register: dir_stats

# Parte 1: Executar se o diretório /usr/local/manageengine/uems_agent/bin não existe
- name: Criar diretório /tmp/Patchmanager
  file:
    path: "/tmp/Patchmanager"
    state: directory
    mode: '0755'
  when: dir_stats.stat.exists == False  # Executa apenas se o diretório não existir

- name: Copiar arquivos de Patchmanager para /tmp/Patchmanager
  ansible.builtin.copy:
    src: "./files/Patchmanager/"
    dest: "/tmp/Patchmanager/"
    mode: '0755'
  when: dir_stats.stat.exists == False  # Executa apenas se o diretório não existir

- name: Listar arquivos na pasta Patchmanager
  command: ls -1 /tmp/Patchmanager/
  register: list_files
  when: dir_stats.stat.exists == False  # Executa apenas se o diretório não existir

- debug:
    var: list_files.stdout_lines
  when: dir_stats.stat.exists == False  # Executa apenas se o diretório não existir

- name: Executar chmod UEMS
  command: chmod +x UEMS_LinuxAgent.bin
  register: comando_resultado
  args:
    chdir: /tmp/Patchmanager  # Define o diretório para execução do comando
  when: dir_stats.stat.exists == False  # Executa apenas se o diretório não existir

- name: Executar Patchmanager binário
  command: ./UEMS_LinuxAgent.bin
  register: comando_resultado
  args:
    chdir: /tmp/Patchmanager  # Define o diretório para execução do comando
  when: dir_stats.stat.exists == False  # Executa apenas se o diretório não existir

- name: Exibir resultado do comando
  debug:
    var: comando_resultado.stdout
  when: dir_stats.stat.exists == False  # Executa apenas se o diretório não existir

# Parte 2: Verificar novamente se o diretório existe após a instalação
- name: Verificar se o diretório existe novamente após a instalação
  stat:
    path: /usr/local/manageengine/uems_agent/bin
  register: dir_stats_after_install

# Parte 3: Executar se o diretório /usr/local/manageengine/uems_agent/bin agora existe
- name: Definir o nome do serviço (ajuste conforme necessário)
  set_fact:
    dcservice: dcservice  # Substitua por o nome correto do serviço
  when: dir_stats_after_install.stat.exists == True  # Executa apenas se o diretório existir após a instalação

- name: Verificar se o serviço está ativo
  shell: systemctl is-active {{ dcservice }}
  register: service_status
  ignore_errors: yes  # Para não falhar caso o serviço não exista
  when: dir_stats_after_install.stat.exists == True  # Executa apenas se o diretório existir após a instalação

- name: Iniciar o serviço caso esteja inativo
  systemd:
    name: "{{ dcservice }}"
    state: started
  when: dir_stats_after_install.stat.exists == True and service_status.stdout.strip() == "failed"  # Executa se o diretório existir e o serviço estiver falhado

- name: Aguardar 5 segundos para garantir que o serviço foi iniciado
  wait_for:
    timeout: 5
    state: started
  when: dir_stats_after_install.stat.exists == True and service_status.stdout.strip() == "failed"  # Executa apenas se o diretório existir e o serviço estiver falhado

- name: Verificar se o serviço está ativo novamente
  shell: systemctl is-active {{ dcservice }}
  register: service_status
  ignore_errors: yes  # Para não falhar caso o serviço não exista
  when: dir_stats_after_install.stat.exists == True  # Executa apenas se o diretório existir após a instalação

- name: Imprimir resultado da verificação do diretório
  debug:
    msg: "O diretório {{ dir_stats_after_install.stat.exists | ternary('existe', 'não existe') }}."
  when: dir_stats_after_install.stat.exists == True  # Executa apenas se o diretório existir após a instalação

- name: Imprimir o status do serviço
  debug:
    msg: "O serviço {{ dcservice }} está {{ service_status.stdout.strip() | default('inexistente ou com erro') }}"
  when: dir_stats_after_install.stat.exists == True  # Executa apenas se o diretório existir após a instalação
