    #Validar arquivo ADA no destino
    - name: Verificar se o arquivo ADA existe
      stat:
        path: /opt/automatos/ada/bin
      register: ada_result

    #Copiar novo arquivo ADA
    - name: Copiar arquivo ada.deb para o Hostname
      ansible.builtin.copy:
        src: "./files/ada-1.9.1-en.i386.lin.deb"
        dest: "/tmp/ada-1.9.1-en.i386.lin.deb"
      when: not ada_result.stat.exists

    #Instalar lib
    - name: Instalar lib
      become: yes
      become_method: sudo
      shell: 
        sudo apt-get -y install libc6-i386
      when: not ada_result.stat.exists

    #Instalar Novo ADA
    - name: Instalar pacote ADA.deb
      become: yes
      become_method: sudo
      command: dpkg -i /tmp/ada-1.9.1-en.i386.lin.deb
      when: not ada_result.stat.exists

    #Configurar novo servidor Almaden
    - name: Configurando Ada Agent após a instalação
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./asetup -s -a -s -iautomatos@magazineluiza.com.br -bLINUX -ca127.0.0.1:1999 -crssl:lad1-receiver.almaden.app:443
      when: not ada_result.stat.exists

    #Validar SRA existe
    - name: Validar SRA existe
      stat:
        path: /opt/ISLOnline/ISLAlwaysOn/ISLAlwaysOn
      register: sra_result

    #Copiar SRA Automatos
    - name: Copiar SRA para o host
      ansible.builtin.copy:
        src: "./files/SRAAUTOMATOS.46"
        dest: "/tmp/SRAAUTOMATOS.46"
        mode: 0755
      when: not sra_result.stat.exists

    #Instalar SRA Automatos
    - name: Instalar SRA
      become: yes
      become_method: sudo
      command: /tmp/SRAAUTOMATOS.46
      when: not sra_result.stat.exists

    #parar aengine e arelay
    - name: parar aengine 
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./aengine -stop
    
    - name: parar arelay 
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./arelay -stop

  #Aguardar 5 segundos
    - name: Aguardar 5 segundos
      wait_for:
        timeout: 5

  #iniciar aengine e arelay
    - name: iniciar aengine
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./aengine -start
    
    - name: iniciar arelay 
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./arelay -start

    #Reiniciar ISLAlwaysON
    - name: reiniciar IsLAlwaysON
      become: yes
      become_method: sudo
      shell: |
        sudo systemctl restart isl_always_on.service
        
    #Aguardar 60 segundos
    - name: Aguardar 60 segundos
      wait_for:
        timeout: 60

    #Mostrar aengine Status
    - name: Mostrar aengine status
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./aengine -status | grep -E  "AgentPID|AgentVer|Started|TmpPath|User ID|UIDdigest|MachineID|Relay" | tr ',' '\n'
      register: aengine_status

    - name: aengine status
      debug:
        msg: "{{ aengine_status.stdout_lines }}"
      #when: ada_result.stat.exists 

    #Mostrar arelay Status
    - name: Mostrar arelay status
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./arelay -status | grep -E "TX"
      register: arelay_status

    - name: arelay status
      debug:
        msg: "{{ arelay_status.stdout_lines }}"
      #when: ada_result.stat.exists 

  #Mostrar ISLAlwaysOn Status
    - name: Mostrar ISLAlwaysOn status
      become: yes
      become_method: sudo
      shell: |
        sudo systemctl status isl_always_on.service | grep Active
      register: isl_always_on_status

    - name: ISLAlwaysOn status
      debug:
        msg: "{{ isl_always_on_status.stdout_lines }}"


