      #Validar arquivo DSAAGENT no destino
    - name: DSAGENT resposta
      stat:
        path: /opt/ds_agent/ds_agent
      register: dsagent_result
    - name: DSAGENT existe?
      debug:
        msg: "O arquivo existe!"
      when: dsagent_result.stat.exists  # Mostra caso exista
    - name: DSAGENT existe?
      debug:
        msg: "O arquivo não existe"
      when: not dsagent_result.stat.exists  # Mostrar caso não exista      

      #Copiar AVGFL para destino
    - name: Copiar arquivo AVGFL para o Hostname
      ansible.builtin.copy:
        src: "./files/AVGFL.sh"
        dest: "/tmp/AVGFL.sh"
      when: not dsagent_result.stat.exists  

    #Permitir AVGFL 
    - name: Permitir AVGFL
      become: yes
      become_method: sudo
      command: sudo chmod +x /tmp/AVGFL.sh 
      when: not dsagent_result.stat.exists

    #Instalar AVGFL  
    - name: Instalar AVGFL
      become: yes
      become_method: sudo
      command: /tmp/AVGFL.sh
      when: not dsagent_result.stat.exists

    #Mostrar DSAgent Versao
    - name: Mostrar DSAgent Versao
      become: yes
      become_method: sudo
      shell: |
        cd /opt/ds_agent/
        sudo cat version.txt
      register: dsver_status

    - name: DSAgent Versao
      debug:
        msg: "{{ dsver_status.stdout_lines }}"
      when: dsagent_result.stat.exists


