---
- hosts: all
  gather_facts: no
  become: true
  tasks:

    - name: Ping the machine
      ansible.builtin.ping:

    - name: update repository index
      apt:
        update_cache: yes

    - name: install updates (Ubuntu)
      apt:
        upgrade: yes
        update_cache: yes
      
