---
- hosts: localhost
  gather_facts: no
  become: true
  tasks:

#parar aengine e arelay
    - name: parar aengine 
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./aengine -stop
    
    - name: parar arelay 
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./arelay -stop

  #Aguardar 5 segundos
    - name: Aguardar 5 segundos
      wait_for:
        timeout: 5

  #iniciar aengine e arelay
    - name: iniciar aengine
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./aengine -start
    
    - name: iniciar arelay 
      become: yes
      become_method: sudo
      shell: |
        cd /opt/automatos/ada/bin
        sudo ./arelay -start